<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.superbf.mybatis.dao.ArticleTagMapper" >
  <resultMap id="BaseResultMap" type="org.superbf.mybatis.entity.ArticleTag" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="articleId" property="articleid" jdbcType="INTEGER" />
    <result column="tagId" property="tagid" jdbcType="INTEGER" />
    <result column="tagName" property="tagname" jdbcType="VARCHAR" />
  </resultMap>
</mapper>