<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.superbf.mybatis.dao.PartnerMapper" >
  <resultMap id="BaseResultMap" type="org.superbf.mybatis.entity.Partner" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteName" property="sitename" jdbcType="VARCHAR" />
    <result column="siteUrl" property="siteurl" jdbcType="VARCHAR" />
    <result column="siteDesc" property="sitedesc" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
</mapper>